log/*
tmp/**/*
doc/api
doc/app
config/database.yml
config/initializers/session_store.rb
config/initializers/mapstory_cookie_secret.rb
config/environments/production.rb
db/*.sqlite3
db/mapfiles/*
db/maptileindex/*
public/mapimages/dst/*
public/mapimages/src/*
public/mapimages/*.g*
public/tiles
public/uploads/*
!public/uploads/original
!public/uploads/thumb
rbeautify.rb
tmp/*



