<div class="col-sm-12">
  <h2>My Maps for <%= @user.login %></h2>
  <p>
  Showing list of maps saved or edited by a user.
  </p>

  <%= render :partial => 'maps/map', :collection => @mymaps unless @mymaps.nil? %>

  <div id="search-pagination-bottom">
   <%= will_paginate @mymaps, :renderer => FlowPagination::LinkRenderer %>
  </div>
</div>