<div class="col-sm-12">
<div class="row">
	<div class="col-sm-12">
		<h1>Editing Map Attributes</h1>
		<%= error_messages_for :map %>
	</div>
</div>

<%= render :partial => "form_remote", :locals => {:page => "edit"} %>

<%- if (current_user = @map.owner || admin_authorized?) -%>
<div class="row">
	<div class="col-sm-12">
  	<div class="mapbtn"><%= link_to 'Delete this map.', {:controller=>"maps", :action=>"delete", :id => @map}, :class => "btn btn-danger" %></div>
  </div>
</div>
<% end %>
</div>