<div id="nav">
  <%= link_to "About", :controller => "home", :action => "about" %> |
  <%= link_to "Help", :controller => "home", :action => "help" %> |
  <%= link_to "Terms & Conditions", :controller => "home", :action => "terms" %>
</div>


