<div class="modal fade" id="helpModal" ole="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">MapStory Help Center</h2>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#post" data-toggle="tab">Post a Question</a></li>
          <li><a href="#faqs" data-toggle="tab">FAQs</a></li>
          <li><a href="#links" data-toggle="tab">Links</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="post">
            <form role="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Question Title</label>
                  <input type="text" class="form-control" id="questiontitle" placeholder="Search or ask your question">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <input type="text" class="form-control" id="questiondetail" placeholder="Details">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">Attach a screenshot</label>
                  <input type="file" id="exampleInputFile">
                </div>
                <div class="checkbox">
                   <label>
                      <input type="checkbox"> Ask anonymously
                  </label>
                </div>
                <button type="submit" class="btn btn-default btn-sm">Ask question</button>
            </form>
          </div>
          <div class="tab-pane" id="faqs">
            <h2>Frequently Asked Questions</h2>
            <h3>Question 1</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
            <h3>Question 2</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
            <h3>Question 3</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
          </div>
          <div class="tab-pane" id="links">
            <h2>List of Resources</h2>

            <h3>MapStory Wiki</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
        
            <h3>How-to Videos</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
        
            <h3>Data Repositories</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>
        
            <h3>How-to video blogs</h3>
            <p>Lorem ipsum dolor sit amet, modus utroque patrioque pro et, in zril maiorum voluptatibus nec. Ad augue qualisque mel, pri vidit ferri in. In idque concludaturque pri.</p>        
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>