<div class="wrap">
<h3>About</h3>

<p>
The goal of Warper is to allow MapStory users to prepare and 
incorporate temporally sequenced raster images into their MapStory 
projects. To do so, warp your images, download them to your 
desktop and upload them into MapStory as a single zipped file. 
If you still have questions, post them on
    <a href="http://help.mapstory.org/" target="_blank">MapStory Help</a>,  
    <a href="http://mapstory.org/mapstory/manual/#prep-raster" target="_blank">read the manual</a>, 
    or 
    <a href="http://wiki.mapstory.org/wiki/How_To#How_to_use_the_Warper" target="_blank">look at these tutorials</a>.
</p>

<p>
Inspired by Metacarta’s Map Rectifier, this is an open source map warping / geo rectifying service, 
written in Ruby on Rails. It has been customized by Tim Waters with the OpenStreetMap 
project in mind.  And, thanks to David Lee and the guys from <a href="http://www.gaiagps.com/" target="_blank">Gaia GPS</a>
who helped deploy and manage it.  Its MIT licensed, so you can play with the code 
yourself it if you want to.  Just <a href="https://github.com/MapStory/warper" target="_blank">download it from GitHub</a>. 
</p>

<p>
The <a href="http://wiki.mapstory.org/wiki/The_MapStory_Foundation" target="_blank">MapStory Foundation</a> 
provided funding for this instance 
of the Warper to serve the global MapStorytelling community. 
</p>

<p>
Questions for the MapStory Foundation, and requests to partner, 
should be sent to <a href="mailto:info@mapstory.org">info@mapstory.org</a>.
</p>
</div>