<h3>About</h3>

<p>
Inspired by Metacarta’s Map Rectifier, this is an open source map warping / geo rectifying service, 
written in Ruby on Rails. It has been customized by Tim Waters with the OpenStreetMap 
project in mind.  And, thanks to David Lee and the guys from <a href="http://www.gaiagps.com/">Gaia GPS</a>
who helped deploy and manage it.  Its MIT licensed, so you can play with the code 
yourself it if you want to.  Just download it here - <a href="http://svn2.geothings.net/mapwarper/">http://svn2.geothings.net/mapwarper/</a>. 
</p>

<p>
The MapStory Foundation (link) provided funding for this instance 
of the Warper to serve the global MapStorytelling community. 
</p>

<p>
Questions for the MapStory Foundation, and requests to partner, 
should be sent to <a href="mailto:info@mapstory.org">info@mapstory.org</a>.
</p>