<h3>Help</h3>

<p>
If you have any issues, <a href="http://help.mapstory.org/questions/ask/">post them</a>
 and let the MapStory community help you.
</p>

<p>
Also check out this <a href="http://help.mapstory.org/faq/">these responses</a> 
to frequently asked questions you might have.
</p>


<h4>A quick note on definitions</h4>

<p>
	In MapStory.org we use the terms ‘StoryLayers’ and ‘MapStories’. StoryLayers are simply 
	spatial datasets that show change over time. MapStories add narrative elements on 
	top of one or many StoryLayers to convey a story of change over time.
</p>

<p>
In Warper, you’ll see the terms “maps” and “mosaics”. Maps are your 
scanned map images uploaded into the warper. Mosaics take multiple individual 
maps and combine them to make a new single image. 
</p>

<p>
Once rectified/warped, images (both single maps and mosaics) can 
be then downloaded, combined with similar images of different time slices, 
and loaded into MapStory as a temporally sequenced StoryLayer raster.
</p>

<h4>And a few other quick notes</h4>

<h4>Why can't I use google maps?</h4>
<p>This application is designed for use with the openstreetmap project.
There are legal and ethical arguments not to use Google Maps when rectifiying
and processing out of copyright maps. However, in my opinion you can use Google Satellite,
so you may see a way to add this
later.</p>

<h4>WMS &amp; JOSM</h4>
<p>Grab the wms link and paste that into the relevant place using the wmsplugin.
Have a look on the openstreetmap wiki for more info.</p>

<h4>Can I get the code and help?</h4>
<p>Yes. you can get the code here: http://svn2.geothings.net/mapwarper/ it's currently MIT licenced</p>
