<div class="wrap">
<h3>Terms and Conditions</h3>
<p>
By uploading images to the website you agree that you allow anyone to 
view and use them, including changing control points etc. 
</p>
<p>
So we recommend that you have permission to upload them. 
Uploading and making images available does not grant a copyright 
license to others. There is no guarantee about privacy or protection 
of images and metadata uploaded (see note below about personal data).
</p>
<p>
Generally, make sure the image is free to distribute 
or copy - and please make a note in the description 
if there are any special conditions.
</p>

<h3>Is there a privacy policy?</h3>
<p>
We hate spam - your personal data (used for logging in etc) will be kept private, 
and they will never be shared with any third party, and will only be used in the 
rare occasion if we need to contact you.
</p>

<p>
Please also consult the <a href="http://wiki.mapstory.org/wiki/Terms_of_Service">Terms of Service</a> 
and Privacy policy for <a href="http://mapstory.org">MapStory.org</a>.
</p>
</div>