<div class="col-sm-12">
<h2>New mosaic</h2>
<em>Note: All mosaics are public, you can add your private maps to them, they won't be listed<br />
but they could be seen on the final map image.</em>
<%= error_messages_for :layer %>

<%= render :partial => "form", :locals => {:page => "new"} %>
</div>